*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.elasticstack {
	position: relative;
	margin: 10% auto;
	padding: 0;
	width: 80%;
	height: 80vw;
	list-style: none;
	-webkit-perspective: 1000px;
	-webkit-perspective-origin: 50% 150%;
	perspective: 1000px;
	perspective-origin: 50% 150%;	
	padding: 2rem;
	box-sizing: border-box;
	border: 1px solid red;
}



.elasticstack li {
	position: absolute;
	margin: 0 auto;
	z-index: 1;
	width: 80vw;
	height: 80vw;
	border-width: 20px 20px 130px 20px;
	border-style: solid;
	border-radius: 2rem 2rem 2rem 2rem;
	border-color: #dedede;
	background:#dedede;
	box-shadow: 0 10px 7px -7px rgba(0,0,0,0.12), 0 0 4px rgba(0,0,0,0.1);
	opacity: 0;
	cursor: pointer;
	-webkit-transform: translate3d(0,0,-180px);
	transform: translate3d(0,0,-180px);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	
}

.no-js .elasticstack li {
	position: relative;
	display: inline-block;
	opacity: 1;
	margin: 10px;
	cursor: default;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.elasticstack li img {
	display: block;
  width: 90%;
  height: auto;
  margin: 0 auto;
  border-radius: 50%;
}

.elasticstack li h5 {
	margin: 0 5px;
	color: gray;
	height: 60px;
	text-align: center;
	font-size: 1.2rem;
	font-family: 'Raleway', sans-serif;
	line-height: 2.5;
}

.elasticstack li.animate {
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.elasticstack li.move-back {
	/* http://matthewlein.com/ceaser/ */
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.470, 1); /* older webkit */
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.470, 1.515);
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.470, 1.515);
}
